{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}

<body class="tk-museo-slab">
  <div class="container hidden">
    <header id="header">
      <h1 class="tk-proxima-nova large black center" id="logo">Hey there, I'm Madhukar.</h1>
      <h2 id="subhead">.engineer .hacker .gamer</h2>
    </header>

    <div id="main">
      <p id="github">I code on <a href="http://github.com/madhukarah" target="_blank">github</a>,</p>
      <p id="twitter">tweet on <a href="http://twitter.com/madhukarah" target="_blank">twitter</a>,</p>
      <p id="rdio">listen on <a href="http://last.fm/user/madhukarah" target="_blank">Lastfm</a>,</p>
      <p id="blog">post on <a href="/b" target="_blank">madhukarah</a>,</p>
      <p id="hack" class="hidden">hack on <a href="#">projects</a>,</p>
      <p id="facebook">friend on <a href="http://facebook.com/madhukarah" target="_blank">facebook</a>,</p>
      <p id="linkedin">connect on <a href="http://www.linkedin.com/in/madhukarah" target="_blank">linkedin</a>,</p>
      <p id="gmail">& email on <a href="mailto:madhukarah[at]gmail[dot]com">gmail</a>.</p>
      <p id="gmail">& work on <a href="http://pacewisdom.com">Pacewisdom</a>.</p>
  </div>
<footer>
  <p id="high-fives"><span class="super">*</span> Powered by <a href="http://octopress.org/">octopress</p>
</footer>

{% include footer.html %}

</body>
</html>
