<footer class="post-footer">
  Hey there, <a href="http://about.me/madhukarah">I'm Madhukar</a>. You can find me on <a href="http://github.com/madhukarah"
      target="_blank">github</a>, <a href="http://twitter.com/madhukarah"
      target="_blank">twitter</a>, <a href="http://www.linkedin.com/in/madhukarah"
      target="_blank">linkedin</a>, <a
      href="http://facebook.com/madhukarah"
      target="_blank">facebook</a>, and <a href="mailto:madhukarah[at]gmail[dot]com">gmail</a>. I'm currently working at <a
      href="http://atlogys.com" target="_blank">Atlogys</a> as System deployment Specialist.
      This site is proudly powered by <a href="http://octopress.org" target="_blank">octopress</a>.
    
</footer>
